{% extends 'gestion-layout.html.twig' %}


{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numinterv</th>
                <th>Dateinterv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.numinterv }}</td>
                <td>{{ intervention.dateinterv ? intervention.dateinterv|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
